.LikeCart{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(125, 189, 219);
}
.LikeCart .allinfoCart{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: 98%;
    display: flex;
    flex-direction: column;  
    /* border: 2px solid black; */
    gap: 20px;
}


.LikeCart .allinfoCart h1{
    font-size: 25px;
    padding-left: 5px;
    font-weight: 500;
}
.LikeCart .allinfoCart .alllikeCarts{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    justify-content: space-around;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* overflow-x: scroll; */
    /* margin-left:20px; */
}



.LikeCart .allinfoCart .alllikeCarts .Card_started{
    border: 0.5px solid rgb(146, 160, 139);
    /* box-shadow: 1px 2px -2px 11px 2px red; */
    height: auto;
    width: 200px;
    /* overflow: hidden; */
    /* padding: 1px; */
    cursor: pointer;
}



.LikeCart .allinfoCart .alllikeCarts .Card_started .img{
    height: 200px;
    width: 100%;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .img img{
   
    height: 100%;
    width: 100%;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .img span{
    position: relative;

    padding: 15px 15px;
    top: -200px;
    border-bottom-left-radius: 20px;
    border-bottom-left-radius: 50%;
    left: 155px;
    text-align: center;
    background-color: red;
    color:whitesmoke;
    /* left: -2px; */
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading p{
    font-size: 18px;
    text-align: start;
    color:#8b8ba3;
    font-weight: 500;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading h1{
    display: flex;
    font-size: 16px;
    gap: 10px;
    color: black;
    font-weight: 500;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading h1 del {
    font-size: 15px;
    font-weight: 400;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading span{
    /* padding: 10px; */
    background-color: rgb(115, 200, 213);
    font-size: 12px;
    color: rgb(101, 94, 94);
    padding: 2px 4px;
    border-radius: 20px;
    /* display: block; */
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading .reating{
    display: flex;align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: 2px solid black; */
    /* justify-content: center; */
}
.LikeCart .allinfoCart .alllikeCarts .Card_started .heading .reating p{
    padding: 2px 6px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 12px;

    background-color: #038D63;
    color: white;
    gap: 5px;
    /* background-color: rgba(14, 157, 14, 0.664); */
}


.LikeCart .allinfoCart .alllikeCarts .Card_started .heading .reating span{
    font-size: 12px;
    color: rgb(105, 177, 210);
    background-color: transparent;
    padding: 0px;
    /* border: 2px solid black; */
    margin-bottom: 8px;
    /* text-align: end; */
}


.LikeCart .allinfoCart .alllikeCarts .Card_started button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color:rgb(41, 136, 195);
    border: 0.5px solid transparent;
    font-weight: 500;
    font-size: 14px;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started button:hover{
    background-color: #05013b;
    color: #ebebf5;
    cursor: pointer;
}
.LikeCart .allinfoCart .alllikeCarts .Card_started button p{
    padding-top: 13px;
}



@media screen and (max-width: 768px) {
    .LikeCart .allinfoCart h1{
        font-size: 20px;
        font-weight: 500;
    }
}