*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width: 992px) { /* Applies when screen width is below 992px */
  .search-bar {
    width: 100%; /* Full width on small screens */
    margin-top: 10px;
  }
}
.btnSearch{
  border: none;
  background-color: rgb(10, 57, 185);
}
.btnSearch:hover{
  border: none;
  background-color: blue;
  color: wheat;
}
#logoWrite{
 padding-top: 10px;
  font-size: 20px;
  font-family: cursive;
}

#logoWrite span{
    background-color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Ah929j52MFEgv6CpoA2nmU4dv7BCfMeEyQ&s");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  font-family: Arial, Helvetica, sans-serif;
}
#imglogo{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
#navbarheader{
  display: flex;
  justify-content: center;
  align-items: center;
}